<ion-split-pane contentId="content">
  <ion-menu contentId="content" menuId="first">

    <ion-content>

      <ion-list>

        <ion-menu-toggle auto-hide="false" menu="first">
          
          <ion-item routerLink="/tabs/menu/home" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              الرئيسية
            </ion-label>
          </ion-item>
          
          <ion-item routerLink="/profile" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              حسابي
            </ion-label>
          </ion-item>
          
          <ion-item routerLink="/advPhoto" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              اعلانات مصورة
            </ion-label>
          </ion-item>
          
          <ion-item routerLink="/about" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              من نحن
            </ion-label>
          </ion-item>
          
          <ion-item routerLink="/terms" routerDirection="root" routerLinkActive="active-item">
            <ion-label>
              الشروط والأحكام
            </ion-label>
          </ion-item>

        </ion-menu-toggle>

      </ion-list>

    </ion-content>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>
