<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="menu">
      <img src="../../assets/image/iconTap/home_gray.png" class="icon_img" alt="">
      <ion-label>الرئيسية</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <img src="../../assets/image/iconTap/menu_gray.png" class="icon_img" alt="">
      <ion-label>الأقسام</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addCategory">
      <img src="../../assets/image/iconTap/plus_gray.png" class="icon_img" alt="">
      <ion-label>اضافة قسم</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <img src="../../assets/image/iconTap/menu_gray.png" class="icon_img" alt="">
      <ion-label>الدردشة</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <img src="../../assets/image/iconTap/megaphone_gray.png" class="icon_img" alt="">
      <ion-label>اتصل بنا</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
